name: wihajster

services:
  db:
    container_name: postgres
    hostname: postgres
    image: postgres
    restart: unless-stopped
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=iot
      - PGDATA=/data/postgres
    volumes:
      - ./docker_data/db:/data/postgres
    healthcheck:
      test: ['CMD-SHELL', 'pg_isready -d iot -U $${POSTGRES_USER}']
      interval: 5s
      timeout: 60s
      start_period: 30s
      retries: 15
    ports:
      - 5432:5432

  frontend_api:
    # user: "${UID}:${GID}" TODO temporary disabled
    container_name: frontend_api
    hostname: frontend_api
    restart: unless-stopped
    build:
      context: .
      dockerfile: ./frontend_api/Dockerfile
    image: iot/frontend_api
    volumes:
      - ./certs:/certs
    environment:
      - POSTGRES_HOSTNAME=postgres
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - AWS_CA_REGISTRATION_CODE=${AWS_CA_REGISTRATION_CODE}
      - USE_AWS_MQTT=${USE_AWS_MQTT}
    depends_on:
      db:
        condition: service_healthy
      # mqtt_ext: TODO temporary disabled
      #   condition: service_started
    links:
      - db
    ports:
      - 3999:80

  device_api:
    container_name: device_api
    hostname: device_api
    restart: unless-stopped
    build:
      context: .
      dockerfile: ./device_api/Dockerfile
    image: iot/device_api
    volumes:
      - ./certs:/certs
    environment:
      - POSTGRES_HOSTNAME=postgres
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - USE_AWS_MQTT=${USE_AWS_MQTT}
    depends_on:
      frontend_api:
        condition: service_healthy
      db:
        condition: service_healthy
    links:
      - db
    ports:
      - 4000:80

#  mqtt_ext:
#      image: eclipse-mosquitto
#      container_name: mqtt_ext
#      hostname: mqtt_ext
#      restart: unless-stopped
#      ports:
#          - "2883:2883" #external mqtt port
#          - "9002:9002" #external mqtt port for websockets
#      volumes:
#          - ./mqtt_ext/config:/mosquitto/config:rw
#          - ./mqtt_ext/data:/mosquitto/data:rw
#          - ./mqtt_ext/log:/mosquitto/log:rw
#          - ./certs:/mosquitto/certs:rw