name: Build Docker images

on:
  push:
    branches:
      - main

env:
  REGISTRY: ghcr.io

jobs:
  build-and-push-image:
    runs-on: ubuntu-latest

    permissions:
      contents: read
      packages: write
      attestations: write
      id-token: write

    steps:
      - name: Checkout repository
        uses: actions/checkout@v5

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to GitHub Container Registry
        uses: docker/login-action@v2
        with:
          registry: ${{ env.REGISTRY }}
          username: ${{ github.actor }}
          password: ${{ secrets.GITHUB_TOKEN }}

      - name: Build and push frontend_api image
        uses: docker/build-push-action@v4
        id: push-frontend
        with:
          context: .
          file: ./frontend_api/Dockerfile
          push: true
          platforms: linux/arm64/v8
          tags: ${{ env.REGISTRY }}/${{ github.repository }}/frontend_api:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max

      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: ${{ env.REGISTRY }}/${{ github.repository }}/frontend_api
          subject-digest: ${{ steps.push-frontend.outputs.digest }}
          push-to-registry: true

      - name: Build and push device_api image
        uses: docker/build-push-action@v4
        id: push-backend
        with:
          context: .
          file: ./device_api/Dockerfile
          push: true
          platforms: linux/arm64/v8
          tags: ${{ env.REGISTRY }}/${{ github.repository }}/device_api:latest
          cache-from: type=gha
          cache-to: type=gha,mode=max
          
      - name: Generate artifact attestation
        uses: actions/attest-build-provenance@v3
        with:
          subject-name: ${{ env.REGISTRY }}/${{ github.repository }}/device_api
          subject-digest: ${{ steps.push-backend.outputs.digest }}
          push-to-registry: true